<?xml version="1.0" encoding="utf-8"?>

<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sonyericsson.android.drm.drmlicenseservice"
    android:versionCode="17596522"
    android:versionName="01.060.0002">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-sdk android:minSdkVersion="21" android:targetSdkVersion="23"/>

    <application android:label="Drm License Service" android:allowBackup="false" >

        <!-- *************** Drm License Service things *************** -->
        <service android:name="com.sonyericsson.android.drm.drmlicenseservice.DrmLicenseService">
            <intent-filter>
                <!-- Listen to ServiceConnections for AIDL interface -->
                <action android:name="com.sonyericsson.android.drm.drmlicenseservice.IDrmLicenseService" />
            </intent-filter>
        </service>
        <service android:name="com.sonyericsson.android.drm.drmlicenseservice.WebInitiatorTaskService"
            android:exported="false">
        </service>
        <service android:name="com.sonyericsson.android.drm.drmlicenseservice.DrmLicenseTaskService"
            android:exported="false">
        </service>

        <!--
            The receiver or activity that catches the intent to renew the content rights and
            starts the service
        -->
        <activity android:name="com.sonyericsson.android.drm.drmlicenseservice.DrmLicenseActivity"
            android:exported="true">
            <!-- *************** Filter for MS PlayReady Web initiators *************** -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                 <data android:scheme="https" />
                <data android:mimeType="application/vnd.ms-playready.initiator+xml" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                 <data android:scheme="http" />
                <data android:mimeType="application/vnd.ms-playready.initiator+xml" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                 <data android:scheme="file" />
                <data android:mimeType="application/vnd.ms-playready.initiator+xml" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/vnd.ms-playready.initiator+xml" />
            </intent-filter>
        </activity>

        <receiver android:name="com.sonyericsson.android.drm.drmlicenseservice.DrmLicenseServiceBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name ="com.sonyericsson.android.drm.GET_RIGHTS"/>
                <data android:scheme="file" android:pathPattern=".*\\.isma" />
            </intent-filter>
            <intent-filter>
                <action android:name ="com.sonyericsson.android.drm.GET_RIGHTS"/>
                <data android:scheme="file" android:pathPattern=".*\\.ismv"/>
            </intent-filter>
            <intent-filter>
                <action android:name ="com.sonyericsson.android.drm.GET_RIGHTS"/>
                <data android:scheme="file" android:pathPattern=".*\\.pya"/>
            </intent-filter>
            <intent-filter>
                <action android:name ="com.sonyericsson.android.drm.GET_RIGHTS"/>
                <data android:scheme="file" android:pathPattern=".*\\.pyv"/>
            </intent-filter>
        </receiver>

        <service android:name="com.sonyericsson.android.drm.drmlicenseservice.GarbageJobService"
            android:permission="android.permission.BIND_JOB_SERVICE" android:exported="true"/>
    </application>
</manifest>
